<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" aria-label="Home">GitHub Requests</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/addCollaborator" aria-label="AddCollaborator">Add Collaborator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewRepository" aria-label="ViewRepositories">View Repositories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/removeCollaborator" aria-label="RemoveCollaborator">Remove Collaborator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewAllRequests" aria-label="ViewCollaboratorRequests">View Collaborator Requests</a>
            </li>
        </ul>
    </div>
</nav>